// colors
$white: #fff;
$primary-color: #655e7a;
$secondary-color: #1bbb1b;
$success: #1bbb1b;
$black: #000;
$alert: #c7254e;
$border-color: #dedede;
$section-title: #666;

// nav
$header-nav-link: #5c5c5c;
$dropdown-link: #808080;

// hero
$hero-header: #E3E3E4;
$hero-graph: #b9b9b9;

// feature section
$feature-link: #8d8f92;

// projects
$project-nav: #333333;
$project-details-key: #838383;
$project-details-strong: #313131;

// social
$dribble: #ea4c89;
$facebook: #3b5998;
$googleplus: #dd4b39;
$instagram: #bc2a8d;
$twitter: #00aced;
$social-icon: #2c2c2c;

// footer
$footer-background: #f5f5f5;
$footer-text: #919191;
$footer-link: #595959;
$footer-nav-link: #494949;

// forms
$form-background: #f6f8fa;
$form-border: #eef2f6;
$contact-button-background: #47424c;
$contact-box-graph-color: #5c5c5c;

// testimonials
$testimonial-header:#5C5C5C;
$testimonial-graph:#7B7B7B;
$testimonial-name:#353241;
$owl-border:#1D1D1D;
$owl-background:#5C5C5C;

// misc
$pricing-li: #666;
$counter-text: #555;


// fonts
$primary-font: "Roboto", sans-serif;
$secondary-font: "Volkhov", serif;
$icon-font: "themefisher-font";
