{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<!-- Portfolio Start -->
<section class="portfolio-work">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="portfolio-menu">
            <div class="btn-group btn-group-toggle justify-content-center" data-toggle="buttons">
              <label class="btn btn-sm btn-primary active">
                <input type="radio" name="shuffle-filter" value="all" checked="checked">{{ i18n "all" }}
              </label>
              {{ $categories := slice }}
              {{ range .Data.Pages }}
              {{ $categories = $categories | append .Params.Category }}
              {{ end }}
              {{ range ( $categories | uniq ) }}
              <label class="btn btn-sm btn-primary">
                <input type="radio" name="shuffle-filter" value="{{ . | urlize }}">{{ . }}
              </label>
              {{ end }}
            </div>
          </div>
          <div class="row shuffle-wrapper">
            {{ range .Data.Pages }}
            <div class="col-md-4 portfolio-item shuffle-item" data-groups="[&quot;{{ .Params.Category | urlize }}&quot;]">
              <img src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
              <div class="portfolio-hover">
                <div class="portfolio-content">
                  <!-- <a href="{{ .Params.Image | relURL }}" class="portfolio-popup" data-caption="{{ .Params.Caption }}"><i class="icon ion-search"></i></a> -->
                  <a href="{{ .Params.Image | relURL }}" class="portfolio-popup" data-caption="{{ .Params.Caption }}"><glyph class="icon ion-search" glyph-name="ion-search" unicode="&#xf21f;" horiz-adv-x="384"
                    d="M381 61c4 -4 4 -10 0 -14l-43 -44c-2 -2 -5 -3 -8 -3s-5 1 -7 3l-84 86c-25 -15 -52 -23 -80 -23c-87 0 -159 71 -159 159s72 159 159 159s158 -71 158 -159c0 -27 -7 -54 -21 -78zM159 322c-53 0 -97 -43 -97 -97s44 -97 97 -97s96 43 96 97s-43 97 -96 97z" /></a>
                  <!-- <a class="h3" href="{{ .Permalink }}">{{ .Title }}</a> -->
                  <a class="h3">{{ .Title }}</a>
                  <p>{{ .Params.Location }}</p>
                  <p>{{ .Params.Description }}</p>
                </div>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}