.bg-1 {
	// background-size: cover;
	// background-repeat: no-repeat;
	// background-attachment: fixed;

	@include mobile-only {
		background-attachment: scroll;
	}
}

.bg-2 {
	// background-size: cover;
	// background-attachment: fixed;

	@include mobile-only {
		background-attachment: scroll;
	}

	@media (min-width: 1576px) {
		background-size: cover;
	}
}