.footer {
  background: $footer-background;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 84px;
  p {
    font-size: 13px;
    line-height: 25px;
    color: $footer-text;
  }
  a {
    color: $footer-link;
    &:hover,
    &:focus,
    &:active {
      color: $footer-link--hover;
    }
  }
  .footer-menu {
    padding-bottom: 25px;
    ul {
      margin: 0px;
      padding: 0px;
      li {
        display: inline-block;
        padding: 0px 20px;
        a {
          display: inline-block;
          color: $footer-nav-link;
          font : {
            weight: 500;
            size: 14px;
          }
          text-transform: uppercase;

          &:hover,
          &:focus,
          &:active {
            color: $footer-link--hover;
          }
        }
      }
    }
  }
  .copyright {
    a {
      font-weight: 600;
    }
  }
}
