.footer {
  background: $footer-background;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 55px;
  p {
    font-size: 13px;
    line-height: 25px;
    color: $footer-text;
  }
  a {
    color: $footer-link;
  }
  .footer-manu {
    padding-bottom: 25px;
    ul {
      margin: 0px;
      padding: 0px;
      li {
        display: inline-block;
        padding: 0px 20px;
        a {
          display: inline-block;
          color: $footer-nav-link;
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
  .copyright {
    a {
      font-weight: 600;
    }
  }
}
