.portfolio-work {
	padding: 80px 0;
	background: $body-bg;
	min-height: 675px;

	.container {
		@include tablet-only {
			width: 100vw;
		}

		@media (min-width: 1024px) and (max-width: 1199px) {
			width: 95%;
		}
	}

	.block {
		.portfolio-menu {
			text-align: center;

			.btn-group {
				margin-bottom: 40px;

				label {
					display: inline-block;
					border: 1px solid $border-color;
					padding: 8px 25px;
					cursor: pointer;
					font-size: 15px;
					color: $project-nav;
					outline: 0;
					background: $white;
					margin: 2px;
					border-radius: 0;
					@include transition (all, 0.3s, ease);

					&.active,
					&.focus {
						background: $btn-bg;
						color: $white;
					}

					&:hover,
					&:active,
					&:focus {
						color: $white;
						background: $btn-bg--hover;
						border-color: $white;
					}
				}
			}
		}
	}
}

.portfolio {
	&-item {
		position: relative;
		padding: 0;

		> img {
			border: 1px solid $midnight;
			width: 100%;
			height: auto;
		}

		&:hover {
			.portfolio-hover {
				visibility: visible;
				opacity: 0.8;
				background: $white;
				// background: $overlay-background;
			}

			.portfolio-content {
				// transform: translateY(-50%);
				background: $white;
				* {
					color: $steel;
					color: $sinopia;
				}

				.icon {
					// filter: invert(1);
					// stupid hack but im tired
					// https://stackoverflow.com/questions/24933430/img-src-svg-changing-the-styles-with-css
					content:url("/images/search-inverted.svg");
				}
			}
		}

		@include tablet-only {
			width: 100vw;

			img {
				width: 100vw;
			}
		}
	}

	&-hover {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background: $overlay-background;
		// visibility: hidden;
		opacity: 0.8;
		transition: .3s ease;

		// @include desktop {
			// min-height: 221px;
		// }
	}

	&-content {
		position: absolute;
		left: 0;
		right: 0;
		top: 0%;
		// transform: translateY(-40%);
		text-align: center;
		padding: 20px;
		transition: inherit;
		height: 100%;
		max-height: 221px;

		* {
			color: $white;
		}

		a {
			display: block;
			transition: .2s ease;

			i, glyph {
				font-size: 30px;
			}

			img, svg {
				width: 30px;
			}

			&.h3 {
				margin-top: 0;
			}
		}

		@include mobile-xs-only {
			padding: 0;
			a, p {
				&.h3 {
					font-size: 18px;
				}
				i, glyph {
					font-size: 20px;
				}

				img, svg {
					width: 20px;
				}
				margin: 5px;
			}
		}

		@media (min-width: 1024px) and (max-width: 1199px) {
			// border: 1px solid orange;
			padding: 5px;
			a, p {
				&.h3 {
					font-size: 18px;
				}
				i, glyph {
					font-size: 20px;
				}
				img, svg {
					width: 20px;
				}
				margin-bottom: 5px;
			}
		}
	}
}




// Portfolio Single Page
.portfolio-single-page {
	.project-details {
		h4 {
			margin-bottom: 20px;
			padding-bottom: 10px;
			border-bottom: 2px dashed $border-color;
		}

		span {
			color: $project-details-key;
			width: 180px;
			display: inline-block;
		}

		strong {
			color: $project-details-strong;
			font-weight: normal;
		}

		ul {
			li {
				margin-bottom: 10px;
			}
		}
	}
}

.shuffle-wrapper {
	background-color: rgba($midnight,0.8);
}
